<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container m-b-20 layout-row align-end gap-20px">
  <button mat-raised-button color="primary" [routerLink]="['edit']" *mifosxHasPermission="'UPDATE_TEMPLATE'">
    <fa-icon icon="edit" class="m-r-10"></fa-icon>
    {{ 'labels.buttons.Edit' | translate }}
  </button>

  <button mat-raised-button color="warn" (click)="delete()" *mifosxHasPermission="'DELETE_TEMPLATE'">
    <fa-icon icon="trash" class="m-r-10"></fa-icon>
    {{ 'labels.buttons.Delete' | translate }}
  </button>
</div>

<div class="container">
  <mat-card>
    <mat-card-content>
      <dl class="template-details">
        <div class="detail">
          <dt class="mat-body-strong">{{ 'labels.inputs.name' | translate }}</dt>
          <dd>{{ templateData.name }}</dd>
        </div>

        <div class="detail">
          <dt class="mat-body-strong">{{ 'labels.inputs.Entity' | translate }}</dt>
          <dd [class.unassigned]="!entityName">{{ entityName || ('labels.text.Not assigned' | translate) }}</dd>
        </div>

        <div class="detail">
          <dt class="mat-body-strong">{{ 'labels.inputs.Type' | translate }}</dt>
          <dd [class.unassigned]="!typeName">{{ typeName || ('labels.text.Not assigned' | translate) }}</dd>
        </div>
      </dl>

      <div class="template-text">
        <div class="text-header">
          <span class="mat-body-strong">{{ 'labels.inputs.Text' | translate }}</span>
          <mat-button-toggle-group
            [value]="textView"
            (change)="textView = $event.value"
            aria-label="{{ 'labels.inputs.Text' | translate }}"
          >
            <mat-button-toggle value="preview">{{ 'labels.buttons.Preview' | translate }}</mat-button-toggle>
            <mat-button-toggle value="source">{{ 'labels.buttons.HTML Source' | translate }}</mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        @if (textView === 'preview') {
          <iframe
            class="template-preview"
            title="{{ 'labels.buttons.Preview' | translate }}"
            sandbox
            [srcdoc]="previewDocument"
          ></iframe>
          @if (isAdvancedTemplate) {
            <p class="mat-caption preview-note">
              {{ 'labels.text.Template preview runs without scripts' | translate }}
            </p>
          }
        } @else {
          <pre class="template-source"><code>{{ templateData.text }}</code></pre>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
